{% extends 'admin_base.html' %}

{% block title %}鈴木・岡田記念賞の受賞者リスト{% endblock %}

<!-- News一覧の表示 -->
{% block content %}
{% if user.groups.all.0.name == 'データ編集' or user.groups.all.0.name == '管理' %}
    <div class="container-lg">
        <div style="padding-top: 20px; padding-left: 20px;">
            <div class="row">
                <div class="col-md-4">
                    <h2>鈴木・岡田記念賞の受賞者リスト</h2>
                </div>
                <div class="col-md-5">
                     <p><a class="btn btn-primary" href="{% url 'prize:prizewinnerregi' %}">新規登録</a></p>
                </div>                
            </div>   
        </div>

        {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">賞ID</th>
                    <th scope="col">賞の名称</th>
                    <th scope="col">受賞者・受賞グループ</th>
                    <th scope="col">所属</th>
                    <th scope="col">修正</th>
                    <th scope="col">削除</th>
                </tr>
            </thead>
            <tbody>
                {% for prizewinner in prizewinner_list %}
                <tr>
                    <td>{{ prizewinner.prizekey }}</td>
                    <td>{{ prizewinner.kind }}</td>
                    <td>{{ prizewinner.name }}</td>
                    <td>{{ prizewinner.affiliation }}</td>
                    <td><a href="{% url 'prize:prizewinneredit' prizewinner.id %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">修正</a></td>
                    <td><a href="{% url 'prize:prizewinnerdelete' prizewinner.id %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">削除</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% elif user.groups.all.0.name == 'データ追加' %}
    <div class="container-lg">
        <div style="padding-top: 20px; padding-left: 20px;">
            <div class="row">
                <div class="col-md-4">
                    <h2>鈴木・岡田記念賞の受賞者リスト</h2>
                </div>
                <div class="col-md-5">
                     <p><a class="btn btn-primary" href="{% url 'prize:prizewinnerregi' %}">新規登録</a></p>
                </div>                
            </div>   
        </div>

        {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">賞ID</th>
                    <th scope="col">賞の名称</th>
                    <th scope="col">受賞者・受賞グループ</th>
                    <th scope="col">所属</th>
                    <th scope="col">修正</th>
                </tr>
            </thead>
            <tbody>
                {% for prizewinner in prizewinner_list %}
                <tr>
                    <td>{{ prizewinner.prizekey }}</td>
                    <td>{{ prizewinner.kind }}</td>
                    <td>{{ prizewinner.name }}</td>
                    <td>{{ prizewinner.affiliation }}</td>
                    <td><a href="{% url 'prize:prizewinneredit' prizewinner.id %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">修正</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="container-lg">
        <div class="py-3">
            <div>正しいユーザでログインしてください</div>
        </div>
    </div>
{% endif %}
{% endblock %}

