{% extends 'admin_base.html' %}

{% block title %}研究会リスト{% endblock %}

<!-- News一覧の表示 -->
{% block content %}
{% if user.groups.all.0.name == 'データ編集' or user.groups.all.0.name == '管理' %}
    <div class="container-lg">
        <div style="padding-top: 20px; padding-left: 20px;">
            <div class="row">
                <div class="col-md-4">
                    <h2>研究会リスト</h2>
                </div>
                <div class="col-md-5">
                     <p><a class="btn btn-primary" href="{% url 'meeting:meetingregi' %}">新規登録</a></p>
                </div>                
            </div>   
        </div>

        {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">日付</th>
                    <th scope="col">表示スタイル</th>
                    <th scope="col">講演リスト</th>
                    <th scope="col">回数</th>                
                    <th scope="col">キー</th>
                    <th scope="col">テーマ</th>
                    <th scope="col">修正</th>
                    <th scope="col">削除</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in meeting_list %}
                <tr>
                    <td>{{ meeting.date|date:"Y年n月j日" }}</td>
                    <td>{{ meeting.style }}</td>
                    <td><a href="{% url 'meeting:presenlist' meeting.key %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">講演一覧</button></a></td>             
                    <td>{{ meeting.times|default:"" }}</td>
                    <td>{{ meeting.key }}</td>
                    <td>{{ meeting.theme }}</td>
                    <td><a href="{% url 'meeting:meetingedit' meeting.id %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">修正</a></td>
                    <td><a href="{% url 'meeting:meetingdelete' meeting.id %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">削除</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% elif user.groups.all.0.name == 'データ追加' %}
    <div class="container-lg">
        <div style="padding-top: 20px; padding-left: 20px;">
            <div class="row">
                <div class="col-md-4">
                    <h2>研究会リスト</h2>
                </div>
                <div class="col-md-5">
                     <p><a class="btn btn-primary" href="{% url 'meeting:meetingregi' %}">新規登録</a></p>
                </div>                
            </div>   
        </div>

        {% csrf_token %}
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">日付</th>
                    <th scope="col">表示スタイル</th>
                    <th scope="col">講演リスト</th>
                    <th scope="col">回数</th>                
                    <th scope="col">キー</th>
                    <th scope="col">テーマ</th>
                    <th scope="col">修正</th>
                </tr>
            </thead>
            <tbody>
                {% for meeting in meeting_list %}
                <tr>
                    <td>{{ meeting.date|date:"Y年n月j日" }}</td>
                    <td>{{ meeting.style }}</td>
                    <td><a href="{% url 'meeting:presenlist' meeting.key %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">講演一覧</button></a></td>             
                    <td>{{ meeting.times }}</td>
                    <td>{{ meeting.key }}</td>
                    <td>{{ meeting.theme }}</td>
                    <td><a href="{% url 'meeting:meetingedit' meeting.id %}"><button class="btn btn-sm btn-outline-secondary me-1" type="button">修正</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="container-lg">
        <div class="py-3">
            <div>正しいユーザでログインしてください</div>
        </div>
    </div>
{% endif %}
{% endblock %}

